* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

@media (max-width: 397px) {

    /* min width>800  */
    .callTo {
        flex-direction: column;
    }

}

.b {
    border: 1px solid red;
}




.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;


}

.header .header_link {
    display: flex;
    width: 200px;
    font-size: 24px;
    justify-content: space-around;
    padding: 0px 10px;
    flex-wrap: wrap;

}

.header .header_logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 24px;
}








.prima_sezione {
    background-color: #1F2937;
    display: flex;
    padding: 50px;
    flex-wrap: wrap;

}

.testo_bottone {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.immagine {
    display: flex;
    justify-content: center;
    flex: 1;
    max-width: 100%;

}


.testo_1 {
    font-size: 34px;
    color: wheat;
    flex: 1;

}

.testo_2 {
    font-size: 18px;
    color: rgb(161, 159, 159);
    flex: 1;
}

.bottone {
    background-color: rgb(91, 195, 199);
    width: 100px;
    border-radius: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.bottone:hover {
    background-color: rgb(144, 202, 204);
}









.contenitore_elementi {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;

}

.info {
    display: flex;
    justify-content: center;
}


.card {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    flex: 1;
    margin: 0px 10px;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 20%;
}

.seconda_sezione {
    padding: 0px 70px 50px 70px;
}








.terza_sezione {
    background-color: #3d5075;
    padding: 60px 60px;
    display: flex;
    flex-direction: column;

}





.testo_3 {
    flex: 1;

}

.autore {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.sezione_quattro {
    display: flex;
    padding: 60px 30px;
}

.callTo {
    background-color: #3B82F6;
    border-radius: 10px;
    display: flex;
    flex: 1;
    /* height: 60px; */
    padding: 5px 15px;
    align-items: center;
    flex-wrap: wrap;
}

.testo_4 {
    flex: 3;
    display: flex;
    flex-direction: column;

}

.testo_4 .titolo {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.testo_4 .descrizione {
    font-size: 14px;
    color: white;



}

.bottone_4 {
    flex: 1;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: white;
    width: fit-content;
    text-align: center;
    padding: 4px;

}